/* .status-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.status-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(12, 10, 10, 0.15);
} */
 .parent{
   
            background: #f5f7fb;
            font-family: 'Segoe UI', sans-serif;
       
 }
 .status-card {
            border-radius: 14px;
            border: none;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
            transition: 0.3s;
        }
        .status-card:hover {
            transform: translateY(-3px);
            box-shadow: 0px 4px 14px rgba(0,0,0,0.15);
        }
        .badge-active {
            background-color: #4caf50;
            padding: 6px 12px;
            border-radius: 12px;
            color: white;
        }
        .badge-inactive {
            background-color: #ff5252;
            padding: 6px 12px;
            border-radius: 12px;
            color: white;
        }
        .btn-edit {
            background-color: #673ab7;
            color: white;
        }
        .btn-delete {
            background-color: #ff1744;
            color: white;
        }
        .btn-add {
            background-color: #3949ab;
            color: white;
        }
        .modal-header {
            background: #3949ab;
            color: white;
        }
        .form-label {
            font-weight: 600;
        }