<nav class="navbar">
    
  <div class="navbar-left">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/enquiry-category" routerLinkActive="active">Enquiry Category</a>
    <a routerLink="/enquiry-status" routerLinkActive="active">Enquiry Status</a>
    <a routerLink="/submit-enquiry-form" routerLinkActive="active">Submit Enquiry</a>
  </div>
  <div class="navbar-right" *ngIf="!isLoggedIn">
    <button (click)="login()">Login</button>
  </div>
  <div class="navbar-right" *ngIf="isLoggedIn">
    <span>Welcome, {{ username }}</span>
    <button (click)="logout()">Logoff</button>
  </div>
</nav>



<router-outlet />
